html {
  overflow: hidden;
}

svg {
  position: absolute;
}

polygon {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}

#mouse, #info {
  position: absolute;
  background-color: white;
  border: 1px solid black;

  padding: 1em;
}

#mouse {
  left: 0px;
  top: 0px;

  pointer-events: none;
  transform: translate(1em, 1em);
  display: none;
}

#info {
  bottom: 1em;
  right: 1em;
  text-align: right;
}
